@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-custome-orange-1: #ff7967;
  --color-custome-orange-2: #ff6955;
  --color-custome-black: #000000;
  --color-custome-gray: #b6adad66;
  --color-custome-border:#B6ADAD;

}
@utility btn {
  @apply rounded-full;
}
