@import "tailwindcss";
@plugin "daisyui" {
  themes: false;
}
@font-face {
  font-family: "EstedadVF";
  src: url("/fonts/Estedad[KSHD,wght].ttf") format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0600-06FF, U+0750-077F, U+FB50-FDFF, U+FE70-FEFF;
}

body {
  font-family: "EstedadVF", sans-serif;
}

@theme {
  --color-background: #3C4866;
  --color-primary: rgba(153, 174, 219, 1);
  --color-light-primary: #809AD2;
  --color-white: #F8F1E9;
  --color-secondary: #5C74A7;
  --color-dark-sky: #516084;
  --color-light-sky:#A8C4FF;
  --shadow-3xl:1px 0px 50px 2px #0000004D;
}

